.product-card .card-img {
  width: 80%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
padding: 10px;

}


.product-card .card-body  .btn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card .card-body .card-text {
  flex-grow: 1;
  overflow: hidden;
}



/* Smooth transition effect for navbar */
.navbar {
  transition: all 0.6s ease-in-out !important; /* Ensure transition applies */
}

/* Default navbar text color */
.navbar-light .navbar-nav .nav-link {
  color: #000 !important; /* Dark text color by default */
}

/* Add a sticky effect and shadow when scrolling */
.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important; /* Add shadow */
  position: fixed !important; /* Make navbar stick to top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensure it's on top */
}

/* Change navbar text color when sticky (scrolling) */
.navbar-sticky .navbar-nav .nav-link {
  color: white !important; /* Change text color to white when sticky */
}

/* Change navbar background when scrolling */
.navbar.bg-dark {
  background-color: #343a40 !important; /* Dark background */
  color: white; /* Ensure navbar text is white in sticky state */
}

/* On hover, change the navbar color */
.navbar.btn-outline-light:hover {
  color: #333;
}

/* Override Bootstrap's default navbar styles */
.navbar-light .navbar-brand {
  color: #000 !important; /* Default color for navbar brand */
}

/* Change navbar brand text color when sticky */
.navbar-sticky .navbar-brand{
  color: white !important; /* Change brand text color to white on scroll */
}

.payment-methods {
  display: flex;
  gap: 15px; /* Space out the icons */
  margin-top: 10px;
}

.payment-icon {
  cursor: pointer; /* Make the icons clickable, change cursor to pointer */
  transition: transform 0.2s; /* Add hover effect */
}

.payment-icon:hover {
  transform: scale(1.1); /* Scale up icons when hovered */
}